:root {
  --cool_white: #f4fdff;
}

.App {
  min-height: 100vh;
  padding: 4rem;
  background-image: linear-gradient(to left, #02aab0, #00cdac);
}

.Card {
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.sd-question__required-text {
  display: none;
}

@media only screen and (max-width: 620px) {
  .App {
    padding: 2.5rem;
  }
}

@media only screen and (max-width: 540px) {
  .App {
    padding: 2.2rem;
  }
  html {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  body {
    position: absolute;
  }
}
