:root {
  --cool_white: #f4fdff;
}

.App {
  min-height: 100vh;
  padding: 4rem 4rem; 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.form {
  padding: .75rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}
